h2{
    margin-top: 0;
    text-align: center;
    justify-content: center;
    
}
.ant-table-pagination.ant-pagination {
    margin: 0px 0;
}

.invalid-row {
  cursor: not-allowed;
  opacity: 0.6;
  background-color: #f5f5f5;
}
